{% extends 'base.html' %}

{% block contentIcon %}
    bi-person-badge
{% endblock %}

{% block contentTitle %}
    Password, PIN & SQ Settings
{% endblock %}
{% block content %}
<!-- JavaScript to dynamically add modal content -->
<script>
    // Create modal content
    var modalContent = `
    <div id="password-change-modal" class="modal" style="{% if not modal_open %}display: none;{% endif %}">
    <div class="modal-content">
        <h4 style="margin-top: 5px; margin-bottom: 15px;">Default Password Change & set PIN & Security Questions!</h4>

        <!-- Display form errors -->
        {% if form.errors %}
        <div class="errorlist">
            <ul>
                {% for field, errors in form.errors.items %}
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <!-- Form fields -->
        <form id="password-change-form" method="post">
            {% csrf_token %}
            <div class="row">
                <!-- Left column -->
                <div class="col-md-6">
                    <!-- Full Name -->
                    <div class="form-group">

                        <input type="text" class="form-control" id="id_full_name" name="full_name" placeholder="User Name" required>
                    </div>
                    <!-- Old password -->
                    <div class="form-group">

                        <input type="password" class="form-control" id="id_old_password" name="old_password" placeholder="Old Password" required>
                    </div>

                    <!-- New password -->
                    <div class="form-group">

                        <input type="password" class="form-control" id="id_new_password1" name="new_password1" placeholder="New Password" required>
                    </div>

                    <!-- New password confirmation -->
                    <div class="form-group">

                        <input type="password" class="form-control" id="id_new_password2" name="new_password2" placeholder="Confirm New Password" required>
                    </div>

                    <!-- PIN Code -->
                    <div class="form-group pin-container">
                        <label for="pin_code">PIN Code:<span style="color: red;"> * </span></label>
                        <input type="password" placeholder="____"
                            onkeypress="return restrictToInteger(event, 'pwdPinError')"
                            title="Please enter a valid integer (0-9)"
                            class="form-control text-center fs-4"
                            style="letter-spacing: 2em;"
                            id="pin_code" name="pin_code" maxlength="4" required>
                        <i id="pwd-change-modal" class="pin-toggle pin-toggle-pwdX bi bi-eye-fill" onclick="togglePasswordVisibility('pin_code', 'pwd-change-modal')"></i>
                        <div id="pwdPinError" class="invalid-feedback my-2 text-danger">Please enter a valid integer (0-9).</div>
                    </div>
                </div>

                <!-- Right column -->
                <div class="col-md-6">

                    <!-- Security questions -->
                    <div class="form-group">

                        <select class="form-control" id="id_security_question_1" name="security_question_1" required>
                            <option value="" disabled selected>Select a security question 1</option>
                            <option value="Your birth year">Your birth year</option>
                            <option value="Your grandmother's name">Your grandmother's name</option>
                            <option value="Name of your elementary school">Name of your elementary school</option>
                            <option value="Your favorite color">Your favorite color</option>
                            <option value="Your first pet's name">Your first pet's name</option>
                            <option value="City where you were born">City where you were born</option>
                        </select>
                        <input type="text" class="form-control" id="id_security_answer_1" name="security_answer_1" placeholder="Answer" required>
                    </div>

                    <div class="form-group">

                        <select class="form-control" id="id_security_question_2" name="security_question_2" required>
                            <option value="" disabled selected>Select a security question 2</option>
                            <option value="Your birth year">Your birth year</option>
                            <option value="Your grandmother's name">Your grandmother's name</option>
                            <option value="Name of your elementary school">Name of your elementary school</option>
                            <option value="Your favorite color">Your favorite color</option>
                            <option value="Your first pet's name">Your first pet's name</option>
                            <option value="City where you were born">City where you were born</option>
                        </select>
                        <input type="text" class="form-control" id="id_security_answer_2" name="security_answer_2" placeholder="Answer" required>
                    </div>

                    <div class="form-group">

                        <select class="form-control" id="id_security_question_3" name="security_question_3" required>
                            <option value="" disabled selected>Select a security question 3</option>
                            <option value="Your birth year">Your birth year</option>
                            <option value="Your grandmother's name">Your grandmother's name</option>
                            <option value="Name of your elementary school">Name of your elementary school</option>
                            <option value="Your favorite color">Your favorite color</option>
                            <option value="Your first pet's name">Your first pet's name</option>
                            <option value="City where you were born">City where you were born</option>
                        </select>
                        <input type="text" class="form-control" id="id_security_answer_3" name="security_answer_3" placeholder="Answer" required>
                    </div>
                </div>
            </div>

            <!-- Submit button -->
            <div style="margin-top: 10px; display: flex; justify-content: center; gap: 10px;">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="{% url 'login' %}" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
    </div>`;

    // Add modal content to the body
    document.body.insertAdjacentHTML('beforeend', modalContent);

    // Get the modal
    var modal = document.getElementById("password-change-modal");

    // Show the modal when the page loads
    window.onload = function() {
        modal.style.display = "block";
    };

    // Get the <span> element that closes the modal
    var span = document.querySelector("#password-change-modal .close");

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    };

    // Prevent form submission when clicking outside the modal
    document.getElementById("password-change-form").addEventListener("submit", function(event) {
        // Prevent default form submission
        event.preventDefault();

        // Process form submission here

        // Close the modal after processing the form
        modal.style.display = "none";
    });

    // Disable closing the modal when clicking outside of it
    modal.addEventListener("click", function(event) {
        event.preventDefault();
        if (event.target === modal) {
            modal.style.display = "block";
        }
    });

    // Prevent navigation using the browser's back button
    window.addEventListener('popstate', function(event) {
        event.preventDefault();
        history.pushState(null, document.title, location.href);
    });
</script>

<style>
    /* The Modal (background) */
    .modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: transparent;
    }

    .modal-content {
        background-color: #fefefe;
        padding: 20px;
        border: 1px solid #888;
        width: 55%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .rules {
        margin-bottom: 20px;
    }
    .rules p {
        margin-bottom: 10px;
    }


    .errorlist {
        color: red;
    }


    .form-group {
        margin-bottom: 20px;
    }
    .form-group label {
        display: block;
        font-weight: bold;
    }
</style>
{% endblock %}
