<!-- The Routing Modal -->
<div class="modal" id="customerModal" tabindex="-1" role="dialog" aria-labelledby="customerModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="customerModalLabel">Upload Attachment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-target="#customerModal" onclick="closeCustomerModal()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div id="customerModalBody"></div>
                </div>
            </div>
        </div>
    </div>
</div>