<div class="modal fade" data-action="" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="confirmationModalLabel">
            Modal Title
        </h1>
      </div>
      <div class="modal-body" id="confirmationModalBody" data-bs-class="modal-body">
          <p>Modal Body</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" id="confirmationYesButton">Yes</button>
      </div>
    </div>
  </div>
</div>